
* {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #333;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #bdbdbd ;
}

.navbar h1{
  color: #9935f1
}

.navbar .links{
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #ac35f1
}

.content{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-view{
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #b226e9;
}

.blog-view:hover{
  box-shadow: 1px 3px 5px #b226e9;
}

.blog-view h2{
  font-size: 20px;
  color: #b226e9;
  margin-bottom: 10px;
}